if TARGET_IMX8MP_B643_PPC

config SYS_BOARD
	default "imx8mp-b643-ppc"

config SYS_VENDOR
	default "ieiworld"

config SYS_CONFIG_NAME
	default "imx8mp-b643-ppc"

source "board/freescale/common/Kconfig"

endif
