if TARGET_IMX95_B0787

config SYS_BOARD
	default "imx95-b0787-smarc"

config SYS_VENDOR
	default "ieiworld"

config SYS_CONFIG_NAME
	default "imx95_b0787"

config SWUPDATE
	bool "Enable SWUpdate dual-copy A/B boot support"
	help
	  Enable SWUpdate dual-copy (A/B) OTA boot environment variables
	  including bootslot selection, rollback, and bootcount support.

endif
